.bodyArea {
    background-color: #099ae8;
    text-align: center;
    flex: 1;
    
}

.clientLogo {
    border-radius: 8px;
    width: 350px;
    display: flex;
    margin: auto;
    padding: 150px;
}