.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #099ae8;
  flex: 1;
  align-items: flex-start;
  padding-top: 30px;
}

.navi-bar {
  width: 20%;
}

.content {
  width: 80 *;
  flex-grow: 2;
}
