.footArea {
    display: flex;
    height: 50px;
}

.leftFooter {
    width: 28%;
}

.middleFooter {
    width: 33%;
    display: flex;
    margin: auto;
    padding: 5px;
}

.rightFooter {
    width: auto;
}

.adbLogo {
    padding-top: 5px;
    height: 50px;
}

.adbName {
    padding-left: 10px;
}