.lableForm {
  font-weight: bolder;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
}
input{
    height: 30px;
    /* width: 100%; */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    font-weight: bolder;
    
}

.checkboxForm {
  display: flex;
  padding-top: 10px;
}

.checkboxCheck{
  height: auto ;
}

.rembMe {
  font-weight: bolder;
  padding-left: 10px;
}

.inputForm {
  width:100%;
}

.error {
  color: red;
  font-weight: bolder;
}

.submitInput {
  background-color: #005ce6;
  color: white;
  width: 100%;
}

