.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.header-container-1 {
  width: 30%;
}

.header-container-2 {
  width: 40%;
}

.header-container-3 {
  width: 30%;
}

.header-item-3 {
  align-self: flex-end;
}

a {
  text-decoration-line: none;
}

h3 {
  color: black;
}
