.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
}

.container-1 {
  width: 33%;
}
.container-2 {
  width: 33%;
}
.container-3 {
  width: 33%;
}

.item-3 {
  align-self: flex-end;
}

a {
  text-decoration-line: none;
}

h3 {
  color: black;
}
