.validationError {
  color: red;
  font-size: larger;
  font-weight: bolder;
}

.login-form-container {
  display: flex;
  flex-direction: column;
}

.input-title {
  font-weight: bolder;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
}

.input-form {
  width: 250px;
  height: 25px;
}

.checkbox-form {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 5%;
}

.item-title {
  font-weight: bolder;
}

.item-submit {
  margin-top: 15px;
}

.submit-button {
  width: 100%;
}
