.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #099ae8;
  flex: 1;
  height: 50rem;
}

.login-container-1 {
  width: 30%;
}

.login-container-2 {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  height: 65%;
}

.login-container-3 {
  width: 30%;
}

.item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 80px;
}

.item-forget {
  font-size: 18px;
  color: grey;
  font-weight: bolder;
}

.item-password {
  padding-top: 5px;
}

.password {
  color: blue !important;
  font-weight: bolder !important;
}
